body {background-color:pink;
  align-items: center;
  align-content: center;
}

header {align-items: center;
  align-content: center;
  padding-left: 40%;
}
#nav {align-items: center;
  padding-left: 10%;
}
  
