body {background-image:"mango.jpg";
  align-items: center;
  align-content: center;
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  
}

header {align-items: center;
  align-content: center;
  padding-left: 40%;
}
#nav {align-items: center;
  padding-left: 10%;
}
.color1 {
  background-color: crimson;
}
.color2 {
  background-color: yellow;
}
.centre {
  align-items: center;
  align-content: center;
  padding-left: 40%;
  background-image: url(https://tse2.mm.bing.net/th/id/OIP.sIcm9P3i-8joahl_ivY5vAHaD3?w=315&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
}
.contacts {
  padding: 2%;
}